<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<%= render "shared/user_profile_header" %>
	</div>
</div>

<div class='col-md-10 col-md-offset-1'>
	<h3>Portfolios</h3>
	<div class='justified-container'>
			<% @portfolios.each do |portfolio| %>
			    <div>
			    	<%= link_to image_tag(portfolio_cover_image(portfolio), alt: portfolio.title), portfolio_path(@user, portfolio) %>
                    <footer><p><%= portfolio.title %></p></footer>
			    </div>
			<% end %>
	</div>
</div>