<div class='row'>
	<div class="col-md-2 col-md-offset-8">
		<ul class="nav">
			<li><%= link_to "Delete Account", current_user, method: :delete, data: {confirm: "Would you like to delete your account?"} %></li>
		</ul>
	</div>
</div>