<div class='row'>
	<div class="text-center">
		<h4><%= link_to "Delete Portfolio", portfolio_path, 
			method: :delete, data: { confirm: "Would you like to delete your portfolio?"}, class: "btn btn-danger"  %></h4>
	</div>
</div>