<div class='row'>
	<div class="col-md-2 col-md-offset-5">
		<h4><%= link_to "Delete Portfolio", portfolio_path, 
			method: :delete, data: { confirm: "Sure?"}, class: "btn btn-danger"  %></h4>
	</div>
</div>