<div class='justified-container'>
    <% @photos.each do |photo| %>
            <%= link_to image_tag(photo.photo_image.url(:normal), class: "center-block"), photo_path(photo.id) %>
    <% end %>
</div>