/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

//= depend_on_asset "Sail-Regular.otf"
@import 'font';

.container-fluid {
	padding-bottom: 1%;
}

.navbar {
	margin: 5px 0 0 0;
}

.row {
	margin-top: 15px;
	margin-bottom: 15px;
}

.navbar-default {
	background-color: rgba(236, 240, 241, 1.0);
}

.page-header {
	background-color: rgba(241, 169, 160, 1.0);
	margin: 0 auto 20px 0;
}

 .nav-button-right {
  	float:right;
 	margin: 1% 8px 1% 0;
}

#page-header-h1 {
	font-family: 'Sail-Regular';
	font-size: 55px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
}

#show-photo-background {
	background-color: rgba(0,0,0, 0.9);
}

#remove_image_portfolio_row {
	margin-top: 40px;
	margin-bottom: 40px;
}

#home-button {
	font-family: 'Sail-Regular';
	font-size: 35px;
}

.justified-container {
	footer {
		width: 100%;
		position: absolute; 
		bottom: 0;
		background-color: rgba(0,0,0,0.7);
	}
	footer > p {
		color: white;
		margin: 0.3em auto;
		padding-left: 0.5em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}