@font-face {
	font-family: 'Sail-Regular';
	src: font-url('Sail-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Tangerine_Bold';
	src: font-url('Tangerine_Bold.ttf');
	font-weight: normal;
	font-style: normal;
}